.pagination

  div
    float: left

  ul.pages
    float: left
    margin: 0
    padding: 0

  .icon-arrow-left, .icon-arrow-right
    position: relative
    top: -4px

  .unavailable-item

    .icon-arrow-left
      border-right: 5px solid $gray-light
    .icon-arrow-right
      border-left: 5px solid $gray-light


=size($w, $h)
  width: $w
  height: $h

%header-elements
  color: white
  display: inline-block
  margin-top: 9px
  font-size: 12px
  margin-left: 13px

%left
  float: left

%right
  float: right

%button
  padding: 4px 8px
  color: white
  display: inline-block
  font-size: 12px
  line-height: 12px
  cursor: pointer
  text:
    transform: uppercase
    decoration: none
  background-color: $green
  border:
    width: 0
    radius: 3px
    right: 1px solid darken($green, 5%)
    left: 1px solid lighten($green, 5%)
  margin-top: 5px
  text-shadow: 0 0 4px rgba($green-darker, 0.8)
  &.first
    border-left: none
  &.last
    border-right: none
  &:hover
    background-color: darken($green, 2%)
  &:active
    background-color: darken($green, 5%)
    box-shadow: inset 0 0 10px darken($green, 20%)
  &.active
    background-color: lighten($green, 50%)
    text-shadow: 0 1px 1px $white
    color: $green
    &:active
      box-shadow: inset 0 0 10px rgba($green, 0.5)

.noselect
  -webkit-touch-callout: none
  -webkit-user-select: none

.select
  -webkit-touch-callout: initial
  -webkit-user-select: initial

.drag
  -webkit-user-select: none
  -webkit-app-region: drag
  .nodrag
    -webkit-app-region: no-drag


%h1
  font-weight: 300
  color: $blue-lighter
  font-size: 34px
  line-height: 38px

%h2
  font-weight: 300
  color: $white
  font-size: 22px
  line-height: 26px

%p
  font-weight: 300
  color: $white
  font-size: 14px
  line-height: 18px

%input
  @extend %p
  outline: none
  background-color: $blue-dark
  border: none
  color: $blue-lighter
  margin-bottom: 5px
  padding: 5px 10px

%form-element
  margin: 10px 0
  label, .label
    @extend %h2
    display: block
    margin-bottom: 5px
  input
    @extend %input
