.share-page
  h3
    @extend %h1

  .share-search
    .form-element
      @extend %form-element
      .options
        position: absolute
        z-index: 1000
        li
          padding: 8px
          background-color: $blue-light
          border-bottom: 1px solid $blue
          &:hover, &.active
            background-color: $blue-lighter
  .current-shares
    .label
      @extend %h2
    .items
      .item
        @extend %button
        margin-right: 10px
        margin-bottom: 10px
