@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,600,400)

@import "compass/reset/utilities"
@import "compass/css3/animation"
@import "partials/_variables"
@import "partials/_components"
@import "partials/_wobble-loader"
@import "partials/_share-page"


+global-reset

*
  box-sizing: border-box

.chart
  width: 100%
  margin-top: 20px
  background-color: $blue-light
  height: 30px
  td
    background: linear-gradient(to right, lighten($blue, 15%), lighten($blue, 10%), lighten($blue, 15%))
    border: 1px solid darken($blue, 5%)
    position: relative
    span
      display: block
      position: absolute
      top: 5px
      height: 18px
      background-color: $green
      &:hover
        background-color: lighten($green, 50%)




body
  background-color: $blue
  font-family: $font-sans-serif
  font-weight: 300
  color: $white
  margin: 0
  padding: 0

  *
    @extend .noselect

header
  +size(100%, 30px)
  position: fixed
  top: 0
  z-index: 3
  background-color: darken($blue, 10%)
  .basecamp &
    background-color: $blue
  .logo
    +size(126px, 30px)
    display: inline-block
    margin:
      top: 5px
      left: 7px
    float: left
    img
      max-width: 100%
  .nav
    display: inline-block
    height: 30px

    .left, .right
      position: absolute
      top: 0
      &.left
        left: 140px
      &.right
        right: 0

    .punch-label-container
      @extend %header-elements
      cursor: default
      color: $blue-lighter
      i
        color: $blue-lighter
      span.punch-label
        span
          margin-right: 5px
          color: $white

    .timer
      opacity: 0.5

    i.loading
      display: inline-block
      color: $blue-light
      opacity: 0
      transition: opacity 0.1s
      position: absolute
      top: 6px
      margin-left: -25px
      &.show
        opacity: 1

    .btn
      @extend %button
      padding: 9px 8px
      margin: 0
      display: block
      border-radius: 0
      float: right
      transition: width 0.5s


.page-container
  padding: 20px
  margin-top: 30px

.download
  @extend %button
  float: right

.legend
  float: left
  font-size: 14px
  line-height: 12px
  li
    float: left
    margin-right: 20px
    text-transform: uppercase
    font-weight: bold
    &:after
      margin-right: 7px


table.punch-items
  background-color: $blue-light
  color: $white
  width: 100%
  overflow: hidden
  thead
    background-color: $blue
  td, th
    padding: 10px
    white-space: nowrap
    overflow: hidden
    border:
      right: 1px solid $blue
      bottom: 1px solid $blue
  tr.over
    background-color: darken($blue-light,5%)

  td.task
    i
      display: none
      float: right
      cursor: pointer
    &:hover
      i
        display: inherit
    span.content
      color: lighten($blue, 50%)
      span
        margin-right: 10px
        color: $white

  .edited:after, .current:after
    content: " "
    background-color: $green
    +size(12px, 12px)
    border-radius: 10px
    display: inline-block
    float: left
  .edited:after
    background-color: $blue-dark
  .current:after
    background-color: $green

  .content, .project
    margin-left: 5px

  .indicators-tools
    .tools
      display: none
    &:hover
      .indicators
        display: none
      .tools
        display: inherit
  .editing .indicators-tools .tools
    display: inherit
  .tools
    .save
      +animation(pulse 1s infinite)
  td.day
    input
      width: 90px

+keyframes(pulse)
  0%
    color: $white
  50%
    color: $green
  0%
    color: #white

iframe.basecamp
  position: fixed
  left: 0
  top: 0
  width: 100%
  height: 100%
  padding-top: 30px
  z-index: 2

form.filters
  background-color: $blue-light
  display: inline-block
  border-radius: 3px
  color: $white
  padding: 10px
  font-size: 14px
  width: 100%

  .date-range
    width: 210px
    .punch-index-date-range
      position: relative
      ul
        position: absolute
        z-index: 1
      li
        display: none
        &.open
          padding: 5px 10px
          background-color: $blue-dark
          display: block
          width: 130px
        &.active
          display: block

  .start, .end, .user, .project, .account, .date-range
    float: left
    margin-right: 20px
    label
      margin-right: 5px
      display: inline-block

  input, .users, .projects, .punch-index-date-range ul
    background-color: transparent
    border: none
    display: inline-block
    font-size: 14px
    font-weight: normal
    color: lighten($blue, 50%)
    outline: none

  .user-list, .project-list
    position: absolute
    margin-top: 5px
    z-index: 100
    padding: 1px
    li
      background-color: $blue-dark
      color: $white
      white-space: nowrap
      padding: 5px
      &:hover
        background-color: $blue

  .refresh
    float: right
    cursor: pointer
    &:hover
      opacity: .5
    &:active
      opacity: .7

input[type=time], input[type=date]
  background-color: inherit
  border: none
  color: white
  font-family: 'Open Sans', sans-serif
  font-size: 16px
  margin: 0
  padding: 0
  line-height: 12px
  position: relative
  outline: none
  cursor: pointer
  &:hover
    color: $white

::-webkit-datetime-edit-month-field:focus,
::-webkit-datetime-edit-day-field:focus,
::-webkit-datetime-edit-year-field:focus
  background: transparent
  color: inherit

::-webkit-inner-spin-button,
::-webkit-clear-button
  display: none

::-webkit-calendar-picker-indicator
  position: absolute
  width: 100%
  height: 100%
  top: 0
  right: 0
  background: none
  color: transparent

input::-webkit-datetime-edit-year-field[disabled],
input::-webkit-datetime-edit-month-field[disabled],
input::-webkit-datetime-edit-week-field[disabled],
input::-webkit-datetime-edit-day-field[disabled],
input::-webkit-datetime-edit-ampm-field[disabled],
input::-webkit-datetime-edit-hour-field[disabled],
input::-webkit-datetime-edit-millisecond-field[disabled],
input::-webkit-datetime-edit-minute-field[disabled],
input::-webkit-datetime-edit-second-field[disabled]
  color: inherit

